<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Screaming Plant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='main.css') }}" />
  </head>
  <body>
    <div class="header">
      <nav class="navbar">
        <div class="container d-flex justify-content-center">
          <a href="http://balena.io/" target="_blank">
            <img style="width: 6rem; height: auto;" src="{{ url_for('static', filename='logo.svg') }}">
          </a>
        </div>
      </nav>
    </div>
  
    <div class="container mt-5 mb-5 p-0 pb-5">

      <div class="row d-flex flex-column align-items-center">
        <h1>Screaming Plant</h1>
        <p class="text-center pl-5 pr-5 pt-0 pb-0">Water your plants.</p>
      </div>
        <object data="soilMoisture.svg" width="300" height="300"> </object>
      </div>
    </div>
    <canvas id="canvas"></canvas>
    <script src="{{ url_for('static', filename='confetti.js') }}"></script>
  </body>
</html>
